In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [3]:
df1 = df

In [4]:
df1 = pd.DataFrame(df1[0])

In [5]:
df1

    Postcode           Borough           Neighborhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

In [6]:
df1.dtypes

Postcode        object
Borough         object
Neighborhood    object
dtype: object

In [7]:
df2 = df1[df1['Borough']!='Not assigned']

In [8]:
df2 = df2.reset_index()

In [9]:
df2 = df2.drop(['index'], axis = 1)

In [10]:
i = 0
for i in range(len(df2)):
    if df2['Neighborhood'][i] == 'Not assigned':
        df2['Neighborhood'][i] = df2['Borough'][i]
    i += 1
df2

    Postcode           Borough              Neighborhood
0        M3A        North York                 Parkwoods
1        M4A        North York          Victoria Village
2        M5A  Downtown Toronto              Harbourfront
3        M6A        North York          Lawrence Heights
4        M6A        North York            Lawrence Manor
..       ...               ...                       ...
205      M8Z         Etobicoke  Kingsway Park South West
206      M8Z         Etobicoke                 Mimico NW
207      M8Z         Etobicoke        The Queensway West
208      M8Z         Etobicoke     Royal York South West
209      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [11]:
df2.head(10)

  Postcode           Borough      Neighborhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor
5      M7A  Downtown Toronto      Queen's Park
6      M9A      Queen's Park      Queen's Park
7      M1B       Scarborough             Rouge
8      M1B       Scarborough           Malvern
9      M3B        North York   Don Mills North

In [12]:
df2 = df2.groupby(['Postcode', 'Borough']).agg(lambda x: ', '.join(x))

In [13]:
df3 = df2.reset_index()

In [14]:
df3.shape

(103, 3)

In [44]:
df3.to_csv('df_new')